<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>个人介绍</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                本科毕业于澳洲莫纳什大学，信息科技学院。熟悉开发和运营流程，掌握SQL，编写PL/SQL和OLAP完善数据库，擅长Python/R语言统计制图，进行常用数据挖掘；
                精通Excel的VBA高级功能，搭建模型，着力于业务现实进行分析，擅长利用Tableau分类数据集并可视化呈现。本网页是出于兴趣自主创作，用于展示Tableau作品，计划之后用于记录更多学习笔记。
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                希望大家对展示作品有任何的建议都可以联系我，一起学习。本人善于学习，每天听新闻，平时自学Python，Linux，数据分析等相关知识，对互联网行业充满热忱；
                善于坚持，坚持锻炼身体和做户外运动，有咖啡师证，健身教练证，潜水证，也是马拉松爱好者，热爱生活。希望能交到更多喜欢IT，喜欢运动的朋友一起学习和锻炼。

            </p>
        </div>
    </div>
</section>