<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="card border-primary mb-3" style="width:400px">
                    <img class="card-img-top" src="./web-dist/images/nobel.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">诺贝尔获奖者特征和历史分析</h4>
                        <p class="card-text">用Tableau创作，包含各个奖项的颁奖历史分布、性别特征分布和获奖者出生国家和组织机构的排名与分布</p>
                        <a href="./nobelVis.html" class="btn btn-primary">点击查看</a>
                    </div>




            </div>
            </div>
        </div>



</section>