<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="navbar-brand hidden-xs-down navbar-logo" href="/">{{ site.brand }}</div>
    <button class="navbar-toggler hidden-sm-up collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#CollapsingNavbar"
            aria-controls="CollapsingNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
        &#9776;
    </button>
    <div class="navbar-brand navbar-brand--mobile hidden-sm-up navbar-logo" href="/">{{ site.brand }}</div>
    <div class="collapse navbar-toggleable-xs pull-sm-right" id="CollapsingNavbar">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <div class="nav-link" data-link=".container-about">About</div>
            </li>
            <li class="nav-item">
                <div class="nav-link" data-link=".container-instagram">Portfolio</div>
            </li>
            <li class="nav-item">
                <div class="nav-link" data-link=".container-contacts">Contacts</div>
            </li>
        </ul>
    </div>
</nav>
