<section class="container container-travel">
    <div class="row">
        <div class="col-md-12">
            <h1>Travel</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est diam, porttitor et arcu at, vehicula
                sodales libero. Sed fermentum luctus dapibus. Proin lobortis ipsum eu lobortis luctus.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Donec elementum orci dui, eu euismod sem pellentesque sit amet. Nunc tempus consequat urna, vel
                consectetur odio mattis id. Nam nisi sem, tincidunt id risus et, auctor lacinia nulla. In hac habitasse
                platea dictumst.
            </p>
        </div>
        <div class="col-md-12">
            <!-- Generate such a widget at snapwidget.com for your name -->
            <!-- Copy/paste code here or just update the snapwidget value at _config.yml -->
            <script src="https://snapwidget.com/js/snapwidget.js"></script>
            <iframe src="https://snapwidget.com/embed/{{ site.snapwidget }}" class="snapwidget-widget" allowTransparency="true"
                    frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
        </div>
    </div>
</section>
